  
.Modal {
    position: fixed;
    z-index: 500;
    background-color: #dedede;
    width: 30vw;
    border: 3px solid #3d315b;
    padding: 2rem;
    left: 35vw;
    top: 15vh;
    box-sizing: border-box;
    transition: all 0.75s ease-out;
    border-radius: 10px;
}

.show{
    transform: translateY(0);
    /* opacity: 1; */
}

.hide{
    transform: translateY(-100vh);
    /* opacity: 0; */
}
