.errorIcon{
  width: 10vw;
}

.wrapper {
  min-height: calc(100vh - 8rem - 80px);
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 20px;
  padding: 10% 5%;
  justify-items: center;
  box-sizing: border-box;
}
